<div class="card mb-3 card-satwa p-2">
  <div class="row g-0">
    <div class="col-2" style="text-align: center; color: #7FBCD2; padding-top: 28px">
      <p>Rom</p>
      <p class="no_satwa" style="line-height: 0px; font-weight:900; font-size:40px">{{no}}</p>
    </div>
    <div class="col-auto">
      <div class="image-content" style="background-image: url({{url_for('static', filename='image/satwa_cover/')}}{{satwa.satwa_gambar}});"></div>
    </div>
    <div class="col" style="width:0">
      <div class="card-body pt-1">
        <h5 class="card-title horizontal-scroll">{{satwa.satwa_judul}}</h5>
        <div class="button-content horizontal-scroll d-none">
          <button type="button" class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Custom button
          </button>
          <button type="button" class="btn btn-outline-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Custom button
          </button>
          <button type="button" class="btn btn-outline-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Custom button
          </button>
        </div>
        <p class="card-text vertical-scroll" style="font-size:13px; margin-top:2px; height:40px">{{satwa.satwa_ringkas}}</p>
      </div>
    </div>
  </div>
</div>